//Cricket Quiz Game
#include <stdio.h>
    int main(){

            int i;
            int  ans1, ans2, ans3, ans4, ans5 ;
            int point1, point2, point3, point4, point5, point6, point7, point8, point9, point10;
            int point01, point02, point03, point04, point05,  point06,  point07,  point08,  point09,  point010;
            int total1, total12, total3, total14, total15;


                printf("Welcome to The Cricket Quiz Game \n");

                printf(">Press 7 To Start The Game\n");
                printf(">Press 0 to Exit The Game\n");

                scanf("%d", &i);
                system("cls");
                if(i==7)
                    {

                            printf("Welcome to the game\n");

                    }

                  else if(i==0)
                    {
                            printf("You have exited the game\n");
                    }

                   else
                        {
                               printf("Invalid Input check again\n");
                        }

                    if(i==7)
                    {
                        printf("1.Which Indian Cricketer Became The Fastest To Score 20,000 International Runs\n");
                        printf("1>Shikhar Dhawan\n");
                        printf("2>Virat Kholi\n");
                        printf("3>MS Dhoni\n");
                        printf("4>Rishab Pant\n\n");

                        printf("Enter Your Answer: \n");
                        scanf("%d", &ans1);
                         system("cls");

                        if(ans1==2)
                        {
                            printf("Correct Answer\n");
                                 point1=5;
                            printf("You Have Scored %d points\n", point1);
                        }

                        else
                        {
                            printf("Wrong Answer\n");
                                    point01=0;
                            printf("You Have Scored %d points\n\n",point01);
                        }

                        printf()

                        printf("\nWhich Team In the Indian Premier League(IPL) Have 2 Trophies\n");
                        printf("1>Sunrises Hydrabad\n");
                        printf("2>Gujrat Titans\n");
                        printf("3>Rajastan Royals\n");
                        printf("4>Kolkata Knight Riders\n");

                        printf("\nEnter Your Answer:\n");
                        scanf("%d", &ans2);

                         system("cls");

                        if(ans2==4)
                        {
                            printf("Correct Answer\n");
                                point2=10;
                            printf("You Have Scored %d points\n", point2);
                        }

                        else
                        {
                            printf("Wrong Answer\n");
                                point02=2;
                            printf("You Have Score %d points\n",point02);
                        }

                        printf("In which year was the first IPL season held?\n");
                        printf("1>2008\n");
                        printf("2>2009\n");
                        printf("3>2010\n");
                        printf("4>2011\n");

                        printf("Enter Your Answer:\n");
                        scanf("%d",&ans3);

                         system("cls");

                        if(ans3==1)
                        {
                            printf("Correct Answer\n");
                                point3=15;
                            printf("You Have Scored %d points \n" , point3);
                        }
                        else
                        {
                            printf("Wrong Answer\n");
                                point03=3;
                            printf("You Have Scored %d points\n",point03);
                        }

                        printf("Which team won the first-ever day-night\n");
                        printf("1>New-Zealend\n");
                        printf("2>Sri-Lanka\n");
                        printf("3>Austrailia\n");
                        printf("4>India\n");

                        printf("Enter Your Answer:\n");
                        scanf("%d",&ans4);

                         system("cls");

                        if(ans4==3)
                        {
                            printf("Correct Answer\n");
                                point4=20;
                            printf("You Have Scored %d points",point4);
                        }
                        else
                        {
                            printf("Wrong Answer\n");
                                point04=4;
                            printf("You Have Scored %d points", point04);
                        }

                        printf("Who won the T20 World Cup in 2016\n");
                        printf("1>England\n");
                        printf("2>Sri-Lanka\n");
                        printf("3>West-Indians\n");
                        printf("4>New-Zealand\n");

                        printf("Enter Your Answer:\n");
                        scanf("%d",&ans5);

                         system("cls");

                        if(ans5==3)
                        {
                            printf("Correct Answer\n");
                                point5=25;
                            printf("You Have Scored %d points", point5);
                        }
                        else
                        {
                            printf("Wrong Answer");
                                point05=5;
                            printf("You Have Scored %d points", point05);
                        }
                    }
    }
